$ace-reorder-list-item-grabbed-z-index: 100;
$ace-reorder-list-item-trans-time: .3s;
$ace-reorder-list-item-trans-curve: ease-in;

ul {
	list-style: none;
	margin: 0 auto;
	padding: 0;
	width: 400px;
}

li {
	align-items: center;
	background-color: lightblue;
	border: 1px solid black;
	border-radius: 2px;
	display: flex;
	justify-content: space-between;
	padding: 0 10px 0 20px;

	&:not(:last-of-type) {
		margin-bottom: 10px;
	}

	button {
		background: transparent;
		border: none;
		border-radius: 50%;
		font-size: 25px;
		height: 40px;
		user-select: none;
		width: 40px;
		z-index: 10;
	}
}

li[ace-reorder-list-item-grabbed] {
	$ace-reorder-list-item-grabbed-box-shadow: 7px 8px 10px -3px rgba(#000, .82);
	box-shadow: $ace-reorder-list-item-grabbed-box-shadow;
}

[ace-reorder-list-item-btn] {
	cursor: grab;
}

[ace-reorder-list-item-grabbed] {
	position: relative;
	z-index: $ace-reorder-list-item-grabbed-z-index;

	[ace-reorder-list-item-btn] {
		cursor: grabbing;
	}
}

/* stylelint-disable */
//// ////////////////////////////

// MOTION SENSITIVITY
@media (prefers-reduced-motion: no-preference) {
	[ace-reorder-list-reordering] {
		[ace-reorder-list-item] {
			transition: transform $ace-reorder-list-item-trans-time $ace-reorder-list-item-trans-curve;
		}
	}
}


// KEYBOARD MOVEMENT STYLES
.grabbed {
	box-shadow: 7px 8px 10px -3px rgba(#000, .82);
}

.targeted {
	background: white;
}
